<app-navbar-settings></app-navbar-settings>
<div *ngFor="let product of arrProductList">
  <a [routerLink]="['/product/',product.product_category,product.id]">
    <div class="row product">
      <div class="col-sm-4">
        <img src="http://vps696635.ovh.net:7777/images-api/{{ product.FileName1 }}"
        alt="image produit sponso trocGlisse"
        class="teaser_picture"
        >
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-8">
            {{product.Name}}
          </div>
          <div class="col-sm-4">
            A la une
          </div>
        </div>
        <div class="row">
          {{product.region}}
        </div>
        <div class="row">
          {{product.website_expiration}}
        </div>
        <div class="row">
          {{product.Teaser}}
        </div>
      </div>
    </div>
  </a>
</div>
