<!-- https://bootsnipp.com/snippets/ex05a -->
<!-- A VOIR https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
<!--footer start-->
<div class="footer-wrap">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-7">
      <h3>A propos de TrocGlisse</h3>
      <div class="footer-logo"><img src="/assets/images/logo.png" alt="logo trocGlisse" class="logo"></div>
      <p>TrocGlisse est un site qui permet aux particuliers de proposer à la
        vente des planches et autres matériels de surf à d'autres particuliers
        afin de dynamiser l'utilisation du matériel d'occasion et limiter la
        quantité de déchets produits par les communautés du surf. <a [routerLink]="'/about-us'">En savoir plus.</a></p>
    </div>
    <div class="col-md-4 col-sm-11">
      <h3>Catégories principales</h3>
      <ul class="footer-category">
        <li><a [routerLink]="''">Accueil</a></li>
        <li><a [routerLink]="'/product/shortboard'">Shortboard</a></li>
        <li><a [routerLink]="'/product/not_expensive_surf_planks'">Planches pas cher</a></li>
        <li><a [routerLink]="'/product/mossy_planks'">Planches en mousse et pour débutants</a></li>
        <li><a [routerLink]="'/product/longboard'">Longboard</a></li>
        <li><a [routerLink]="'/product/stand_up_paddle'">Stand Up Paddle</a></li>
        <li><a [routerLink]="'/product/mini_malibu'">Mini Malibu</a></li>
        <li><a [routerLink]="'/product/fish'">Fish</a></li>
        <li><a [routerLink]="'/product/hybride'">Hybride</a></li>
        <li><a [routerLink]="'/product/egg'">Egg</a></li>
        <li><a [routerLink]="'/product/evolutive'">Evolutive</a></li>
        <li><a [routerLink]="'/product/gun'">Gun</a></li>
        <li><a [routerLink]="'/product/vintage'">Vintage</a></li>
        <li><a [routerLink]="'/product/retro'">Retro</a></li>
        <li><a [routerLink]="'/product/child'">Child</a></li>
        <li><a [routerLink]="'/product/surf_various'">Divers</a></li>
        <li><a [routerLink]="'/contact'">Nous contacter</a></li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-6">
      <h3>Nos coordonnées</h3>
      <div class="address">Adresse de TrocGlisse: ???</div>
      <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">+33 X XX XX XX XX</a></div>
      <div class="contact"> <a [routerLink]="'/contact'">Nous contacter</a></div>
    </div>
  </div>
  <div class="copyright">Copyright © 2020 - Touts droits réservés.</div>
</div>
</div>
<!--footer end-->
