<app-navbar></app-navbar>
<div class="container-fluid">
  <h1>
    Demandes de contact client
  </h1>
  <div class="row justify-content-center">
    <table class="tftable" border="1">
      <tr>
        <th>ID</th>
        <th>Object</th>
        <th>Status</th>
      </tr>
      <!-- <div *ngFor="let contact of arrContactList"> -->
      <tr *ngFor="let contact of arrContactList">
        <td><a [routerLink]="['/contact-details/',contact.id]">{{ contact.id }}</a></td>
        <td>{{ contact.object }}</td>
        <td>{{ contact.status }}</td>
      </tr>
      <!-- </div> -->
    </table>
    </div>
  </div>

<app-footer></app-footer>
